{{> head}}
    {{> navbar }}

    <p>Velit id ullamco reprehenderit est commodo nostrud officia enim Lorem consectetur magna ipsum enim. Laborum exercitation sit commodo est qui officia laborum irure dolore. Ullamco cupidatat aute ea cupidatat enim eiusmod sunt adipisicing nulla eiusmod. Sint exercitation fugiat quis exercitation laboris enim consectetur et mollit nulla consectetur nostrud esse in. Reprehenderit proident elit occaecat officia ea. Veniam consequat laborum ea eiusmod in elit est commodo sunt.</p>
    <h5>Hola q hace?</h5>
    <h5>Adios {{nombre}}</h5>

    {{> footer }}

</html>